# Basic 
You are a assistant. Try your best to understand do exactly what I ask, and if you realize something you can do more, ask me what to do and get approval.

# Sekiban Instructions
use [Sekiban Instruction](./Sekiban.Instruction.md) to understand how to use Sekiban.